.frame-4,
.frame-4 * {
  box-sizing: border-box;
}
.frame-4 {
  height: 4441px;
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1436px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home {
  background: rgba(56, 4, 4, 0.94);
  align-self: stretch;
  flex-shrink: 0;
  height: 873px;
  position: relative;
  overflow: hidden;
}
.airbrush-image-extender-1 {
  width: 1718px;
  height: 1029px;
  position: absolute;
  left: -141px;
  top: -147px;
  object-fit: cover;
  aspect-ratio: 1718/1029;
}
.po {
  color: rgba(56, 4, 4, 0.94);
  text-align: center;
  font-family: "DmSerifDisplay-Italic", sans-serif;
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 444px;
  top: 248.56px;
  width: 326px;
  height: 195.02px;
  transform-origin: 0 0;
  transform: rotate(-0.977deg) scale(1, 1);
}
.lio {
  color: #380404;
  text-align: center;
  font-family: "DmSerifDisplay-Italic", sans-serif;
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 727px;
  top: 457.76px;
  width: 220.64px;
  height: 158.63px;
  transform-origin: 0 0;
  transform: rotate(-0.977deg) scale(1, 1);
}
.fo {
  color: #380404;
  text-align: center;
  font-family: "DmSerifDisplay-Italic", sans-serif;
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 717px;
  top: 332.76px;
  width: 220.64px;
  height: 65.35px;
  transform-origin: 0 0;
  transform: rotate(-0.977deg) scale(1, 1);
}
.rt {
  color: rgba(56, 4, 4, 0.94);
  text-align: center;
  font-family: "DmSerifDisplay-Italic", sans-serif;
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 496px;
  top: 336.76px;
  width: 220.64px;
  height: 65.35px;
  transform-origin: 0 0;
  transform: rotate(-0.977deg) scale(1, 1);
}
._33-a-3007-b-dc-41-4-eb-4-ba-3-b-ade-20-f-45753-e-1-1 {
  width: 215px;
  height: 623px;
  position: absolute;
  left: 607px;
  top: 243px;
  object-fit: cover;
  aspect-ratio: 215/623;
}
.hi-i-m-alex {
  color: #380404;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 88px;
  width: 943px;
  height: 213px;
}
.hi-i-m-alex-span {
  font-family: "B612Mono-Regular", sans-serif;
}
.hi-i-m-alex-span2 {
  font-family: "BodoniModa-Regular", sans-serif;
}
.hi-i-m-alex-span3 {
  font-family: "PinyonScript-Regular", sans-serif;
}
.frame-3 {
  width: 112px;
  height: 122px;
  position: absolute;
  left: 727px;
  top: 207px;
  overflow: hidden;
}
.introduction {
  background: rgba(56, 4, 4, 0.94);
  align-self: stretch;
  flex-shrink: 0;
  height: 892px;
  position: relative;
  overflow: hidden;
}
.texturelabs-paper-128-s-1 {
  opacity: 0.22;
  width: 1499px;
  height: 1138px;
  position: absolute;
  left: -33px;
  top: -23px;
  object-fit: cover;
  aspect-ratio: 1499/1138;
}
.introduction2 {
  color: #ffffff;
  text-align: left;
  font-family: "AntonSc-Regular", sans-serif;
  font-size: 230px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 552px;
  width: 1614px;
  height: 293px;
}
.i-am-a-bsit-student-who-is-confident-strong-minded-and-charismatic-known-for-my-humor-and-approachable-presence-i-carry-myself-with-confidence-while-staying-focused-and-determined-in-my-field {
  text-align: left;
  position: absolute;
  left: 611px;
  top: 117px;
  width: 646px;
  height: 435px;
}
.i-am-a-bsit-student-who-is-confident-strong-minded-and-charismatic-known-for-my-humor-and-approachable-presence-i-carry-myself-with-confidence-while-staying-focused-and-determined-in-my-field-span {
  color: #000000;
  font-family: "CrimsonText-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.i-am-a-bsit-student-who-is-confident-strong-minded-and-charismatic-known-for-my-humor-and-approachable-presence-i-carry-myself-with-confidence-while-staying-focused-and-determined-in-my-field-span2 {
  color: #ffffff;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
._111111-1 {
  width: 311px;
  height: 836px;
  position: absolute;
  left: 103px;
  top: 56px;
  object-fit: cover;
  aspect-ratio: 311/836;
}
.education {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 892px;
  position: relative;
  overflow: hidden;
}
.vintage-paper-overlay-texture-nostalgic-charm-photo-1 {
  opacity: 0.22;
  width: 1040px;
  height: 1470px;
  position: absolute;
  left: 1453px;
  top: -34px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1040/1470;
}
.education2 {
  color: #380404;
  text-align: left;
  font-family: "AntonSc-Regular", sans-serif;
  font-size: 180px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 1183px;
  top: 849px;
  width: 807px;
  height: 253px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.psb-elementary-school-2018-made-a-lot-of-long-term-friends-my-core-memory-is-when-i-purposely-startled-our-principal-for-fun-gained-compliments-for-being-neat-opol-national-secondary-technical-school-2022-consistent-with-honor-student-my-core-memory-is-when-my-friend-got-into-a-fight-and-i-was-gotten-involved-with-it-even-though-i-haven-t-done-anything-phinma-cagayan-de-oro-college-2024-took-up-gas-majoring-in-criminology-and-was-awarded-as-snappy-student-joined-a-lot-of-tournament-such-as-mobile-legends-in-panagtigi-intramurals-ballroom-dance-contest-and-was-awarded-a-leadership-awardee-opol-community-college-present-taking-up-bsit-and-now-in-the-second-year-had-an-experience-as-rifle-man-colors-in-rotc-joined-many-dance-contest-chants-and-ml-tournaments {
  color: #380404;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 37px;
  top: 22px;
  width: 912px;
  height: 781px;
}
.psb-elementary-school-2018-made-a-lot-of-long-term-friends-my-core-memory-is-when-i-purposely-startled-our-principal-for-fun-gained-compliments-for-being-neat-opol-national-secondary-technical-school-2022-consistent-with-honor-student-my-core-memory-is-when-my-friend-got-into-a-fight-and-i-was-gotten-involved-with-it-even-though-i-haven-t-done-anything-phinma-cagayan-de-oro-college-2024-took-up-gas-majoring-in-criminology-and-was-awarded-as-snappy-student-joined-a-lot-of-tournament-such-as-mobile-legends-in-panagtigi-intramurals-ballroom-dance-contest-and-was-awarded-a-leadership-awardee-opol-community-college-present-taking-up-bsit-and-now-in-the-second-year-had-an-experience-as-rifle-man-colors-in-rotc-joined-many-dance-contest-chants-and-ml-tournaments-span {
  font-family: "Poppins-ExtraBold", sans-serif;
  font-weight: 800;
}
.psb-elementary-school-2018-made-a-lot-of-long-term-friends-my-core-memory-is-when-i-purposely-startled-our-principal-for-fun-gained-compliments-for-being-neat-opol-national-secondary-technical-school-2022-consistent-with-honor-student-my-core-memory-is-when-my-friend-got-into-a-fight-and-i-was-gotten-involved-with-it-even-though-i-haven-t-done-anything-phinma-cagayan-de-oro-college-2024-took-up-gas-majoring-in-criminology-and-was-awarded-as-snappy-student-joined-a-lot-of-tournament-such-as-mobile-legends-in-panagtigi-intramurals-ballroom-dance-contest-and-was-awarded-a-leadership-awardee-opol-community-college-present-taking-up-bsit-and-now-in-the-second-year-had-an-experience-as-rifle-man-colors-in-rotc-joined-many-dance-contest-chants-and-ml-tournaments-span2 {
  font-family: "Poppins-Regular", sans-serif;
}
.psb-elementary-school-2018-made-a-lot-of-long-term-friends-my-core-memory-is-when-i-purposely-startled-our-principal-for-fun-gained-compliments-for-being-neat-opol-national-secondary-technical-school-2022-consistent-with-honor-student-my-core-memory-is-when-my-friend-got-into-a-fight-and-i-was-gotten-involved-with-it-even-though-i-haven-t-done-anything-phinma-cagayan-de-oro-college-2024-took-up-gas-majoring-in-criminology-and-was-awarded-as-snappy-student-joined-a-lot-of-tournament-such-as-mobile-legends-in-panagtigi-intramurals-ballroom-dance-contest-and-was-awarded-a-leadership-awardee-opol-community-college-present-taking-up-bsit-and-now-in-the-second-year-had-an-experience-as-rifle-man-colors-in-rotc-joined-many-dance-contest-chants-and-ml-tournaments-span3 {
  font-family: "Poppins-Black", sans-serif;
  font-weight: 900;
}
.fi-1 {
  width: 342px;
  height: 921px;
  position: absolute;
  left: 928px;
  top: 12px;
  object-fit: cover;
  aspect-ratio: 342/921;
}
.hobbies {
  background: rgba(56, 4, 4, 0.94);
  align-self: stretch;
  flex-shrink: 0;
  height: 892px;
  position: relative;
  overflow: hidden;
}
.texturelabs-paper-128-s-2 {
  opacity: 0.22;
  width: 1515px;
  height: 1150px;
  position: absolute;
  left: -28px;
  top: -209px;
  object-fit: cover;
  aspect-ratio: 1515/1150;
}
.hobbies2 {
  color: #ffffff;
  text-align: left;
  font-family: "AntonSc-Regular", sans-serif;
  font-size: 300px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 324px;
  top: 446px;
  width: 1127px;
  height: 381px;
}
.untitled-1 {
  width: 400px;
  height: 739px;
  position: absolute;
  left: 838px;
  top: 218px;
  object-fit: cover;
  aspect-ratio: 400/739;
}
.online-games-nature-trips-taking-random-videos-dancing-singing {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  left: 149px;
  top: 24px;
  width: 556px;
  height: 422px;
}
.contact {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 892px;
  position: relative;
  overflow: hidden;
}
.vintage-paper-overlay-texture-nostalgic-charm-photo-2 {
  opacity: 0.14;
  width: 1068px;
  height: 1510px;
  position: absolute;
  left: 1466px;
  top: -41px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1068/1510;
}
.email-address-alexrosalita-gmail-com-phone-number-639-285-487-065 {
  color: #380404;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 664px;
  top: 555px;
  width: 591px;
  height: 298px;
}
.email-address-alexrosalita-gmail-com-phone-number-639-285-487-065-span {
  font-family: "Poppins-ExtraBold", sans-serif;
  font-weight: 800;
}
.email-address-alexrosalita-gmail-com-phone-number-639-285-487-065-span2 {
  font-family: "Poppins-Regular", sans-serif;
}
.facebook-alex-rosalita-jr-instagram-rosaaaliittaaa {
  color: #380404;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1071px;
  top: 555px;
  width: 591px;
  height: 298px;
}
.facebook-alex-rosalita-jr-instagram-rosaaaliittaaa-span {
  font-family: "Poppins-ExtraBold", sans-serif;
  font-weight: 800;
}
.facebook-alex-rosalita-jr-instagram-rosaaaliittaaa-span2 {
  font-family: "Poppins-Regular", sans-serif;
}
.contact-me {
  color: #380404;
  text-align: left;
  font-family: "AntonSc-Regular", sans-serif;
  font-size: 230px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: -41px;
  width: 1191px;
  height: 318px;
}
.untitled-2-1 {
  width: 615px;
  height: 876px;
  position: absolute;
  left: -271px;
  top: 272.3px;
  transform-origin: 0 0;
  transform: rotate(-23deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 615/876;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1442px;
  position: fixed;
  left: -6px;
  top: 0px;
}
.frame-5 {
  align-self: stretch;
  flex-shrink: 0;
  height: 61px;
  position: relative;
}
.frame-2 {
  background: #380404;
  width: 1442px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.home2 {
  color: #ffffff;
  text-align: center;
  font-family: "YsabeauOffice-ExtraBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 19px;
  top: 6px;
  width: 124px;
  height: 42px;
}
.introduction3 {
  color: #f5f5f5;
  text-align: center;
  font-family: "YsabeauOffice-ExtraBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 187px;
  top: 5px;
  width: 371px;
  height: 43px;
}
.education3 {
  color: #f5f5f5;
  text-align: center;
  font-family: "YsabeauOffice-ExtraBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 522px;
  top: 6px;
  width: 371px;
  height: 43px;
}
.hobbies3 {
  color: #f5f5f5;
  text-align: center;
  font-family: "YsabeauOffice-ExtraBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 918px;
  top: 5px;
  width: 170px;
  height: 44px;
}
.contact2 {
  color: #f5f5f5;
  text-align: center;
  font-family: "YsabeauOffice-ExtraBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 1223px;
  top: 6px;
  width: 170px;
  height: 43px;
}
